<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>A solution for Data Importation issue " Databases and SQL for Data Science Week 4"</font></h1>
this a simple solution for Data importation issue, in wich I change the date format to "YYYY-MM-DD HH:mm:ss"

## CSV Importation

In [2]:
import pandas as pd

url="https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv"
df=pd.read_csv(url)
df.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"

## Date's columns visualization

In [91]:
columns = ['DATE','UPDATEDON']
df_date = df[columns]
df_date.head()

         DATE            UPDATEDON
0  2004-08-28  2018-02-10 15:50:01
1  2004-06-26  2018-02-28 15:56:25
2  2011-04-04  2018-02-10 15:50:01
3  2010-12-30  2018-02-10 15:50:01
4  2016-02-02  2018-02-10 15:50:01

## Date transformation

In [92]:
import datetime

In [75]:
df['DATE']=pd.to_datetime(df.DATE).dt.strftime('%Y-%m-%d')
df['UPDATEDON']=pd.to_datetime(df.UPDATEDON).dt.strftime('%Y-%m-%d %H:%M:%S')
df.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,2004-08-28,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,2018-02-10 15:50:01,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,2004-06-26,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,2018-02-28 15:56:25,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,2011-04-04,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,2018-02-10 15:50:01,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,2010-12-30,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,2018-02-10 15:50:01,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,2016-02-02,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,2018-02-10 15:50:01,41.773455,-87.706480,"(41.773455295, -87.706480471)"

## Save new csv file

In [5]:
file_name= 'Chicago_Crime_Data-formated.csv';
df.to_csv(file_name, index = False)

## Save new CSV in IBM Storage

### configuration

In [6]:
# @hidden_cell
credentials ={
  "apikey": "blHTqXUMJbXC0CA5vOmtouVLyD7dFYK-cY_RY7jjp4K4",
  "cos_hmac_keys": {
    "access_key_id": "422868c1f77148358bc475dae5a9d943",
    "secret_access_key": "5e5965ff24b1d1df9c374b6aeccdde5e98950ef1767013fa"
  },
  "endpoints": "https://control.cloud-object-storage.cloud.ibm.com/v2/endpoints",
  "iam_apikey_description": "Auto-generated for key 422868c1-f771-4835-8bc4-75dae5a9d943",
  "iam_apikey_name": "Pyhon-Analysis-week5",
  "iam_role_crn": "crn:v1:bluemix:public:iam::::serviceRole:Manager",
  "iam_serviceid_crn": "crn:v1:bluemix:public:iam-identity::a/5ce679ad625c4b5d82e579cfbf861de3::serviceid:ServiceId-6f8dca1a-4786-470b-8754-ae5221f4e22b",
  "resource_instance_id": "crn:v1:bluemix:public:cloud-object-storage:global:a/5ce679ad625c4b5d82e579cfbf861de3:c841a833-201b-4279-b330-12873044a5ef::"
}

In [7]:
endpoint = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
bucket_name = 'pythonfordatascienceandaiweek5-donotdelete-pr-p5uzzqzsa6yzxc'

In [11]:
import boto3

resource = boto3.resource(
    's3',
    aws_access_key_id = credentials["cos_hmac_keys"]['access_key_id'],
    aws_secret_access_key = credentials["cos_hmac_keys"]["secret_access_key"],
    endpoint_url = endpoint,
)

In [12]:
import os

directory = os.getcwd()
file_path = directory + "/" + file_name
f = open(file_path,'r')

### writing new csv in ibm cloud storage

In [13]:
resource.Bucket(name=bucket_name).put_object(Key=file_name, Body=f.read())
Params = {'Bucket':bucket_name ,'Key':file_name }
import sys
time = 7*24*60**2
client = boto3.client(
    's3',
    aws_access_key_id = credentials["cos_hmac_keys"]['access_key_id'],
    aws_secret_access_key = credentials["cos_hmac_keys"]["secret_access_key"],
    endpoint_url=endpoint,

)

### Printing the new csv URL

In [14]:
url = client.generate_presigned_url('get_object',Params=Params,ExpiresIn=time)
print(url)

https://s3.eu.cloud-object-storage.appdomain.cloud/pythonfordatascienceandaiweek5-donotdelete-pr-p5uzzqzsa6yzxc/Chicago_Crime_Data-formated.csv?AWSAccessKeyId=422868c1f77148358bc475dae5a9d943&Signature=zfubg5SzvQ0z9fwcVK2NuPoAZzU%3D&Expires=1570450643

## License

This file is under MIT License 2019